.label-q {
    margin: 2px;
    padding: 2px;
    padding-left: 10px;
    border-bottom: 1px dotted #ccc;
}

.compactRadioGroup .label-q:last-child {
    border: none;
}

.compactRadioGroup .label-q:only-child {
    border: none;
}

.label-q:hover {
    background-color: #5488af;
    color: aliceblue;
}

.label-delete {
    visibility: hidden;
    padding: 0 10px;
    margin-left: auto;
    margin-right: 1%;
}

.label-q:hover .label-delete {
    visibility: visible;
}

.student-question {
    display: flex;
    box-shadow: 0 0 10px 0px #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    align-items: center;
}

.student-question__name {
    padding-left: 5px;
}

.viewOr {
    text-align: center;
    margin: 10px;
}

.list-group-item {
    border-bottom-left-radius: 0;
    border-bottom: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
}

.list-group-horizontal > .list-group-item:first-child {
    border-bottom-left-radius: 0;
}

.list-group-item.active {
    border-bottom: none;
    background-color: #e9ecef;
    border-bottom-left-radius: 0;
    border-color: rgba(0, 0, 0, 0.125);
}

.view-jumbotron {
    border-top-left-radius: 0;
}

.question-form {
    box-shadow: 0 0 10px 0px #bdbdbd;
    display: inline-block;
}

.questions-menu {
    position: sticky;
    top: 0;
}

.config-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    margin-bottom:  5.9rem;
    background: rgb(168 173 167 / 5%);
    padding: 0.5rem;
}

.config-menu-group {
    position: sticky;
    top: 10%;
    width: 100%;
    
}

.config-menu-questions {
    position: sticky;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 5%;
    width: 100%;
    background-color: #6c757d;
}

.invalid-feedback {
    display: block;
}

.form-add-question {
    background-color: initial;
    color: #fff;
    font-size: 14px;
    padding: 5% 0;
    vertical-align:middle;
    box-shadow: #ccc 0 0 2px;
}

.form-add-question-label {
    color: white;
    text-align: center;
    background-color: #545b62;
    padding: 10px 0 10px 0;
}

.btn {
    border-radius: 0px;
}

.mistake {
    box-shadow: red 0 0 10px;
}

.student-form {
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    margin-bottom: 15px;
    padding: 20px;
    padding-bottom: 0;
}

.modalBody {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.test-time-form {
    margin-left: 16px;
}

.test-time-label {
    margin: 5px;
}

.start-page-number {
    font-size: 45px;
}

button.start-page-row {
    padding: 12px;
}

.start-page-row { 
    border: 1px solid #ccc;
    display: flex;
    text-align: left;
}

.start-page-row:hover { 
    background-color: #ccc;
}


.start-page-row:nth-child(2n) { 
    background-color: rgba(0, 0, 0, 0.05);
}

.start-page-row:nth-child(2n):hover { 
    background-color: rgba(0, 0, 0, 0.35);
}

.start-page-label {
    font-size: larger;
    margin: 10px 0 10px 0;
}

.start-page-container {
    margin-left: 25px;
}

.btn-block + .btn-block {
    margin: 0;
}

.btn-block
{
    background-color: white;
    margin: 0;
}

