.label-q {
    margin: 2px;
    padding: 5px;
    padding-left: 10px;
}

.label-q:hover {
    background-color: #5488af;
    color: aliceblue;
}

.label-delete {
    visibility: hidden;
    padding: 0 10px;
    margin-left: auto;
    margin-right: 1%;
}

.label-q:hover .label-delete {
    visibility: visible;
}

.student-question {
    display:flex;
    box-shadow: 0 0 10px 0px #bdbdbd;
    padding: 10px;
    margin-bottom: 10px;
    background-color:ghostwhite;
    align-items: center;
}

.student-question__name {
    padding-left: 5px;
}

.viewOr {
    text-align: center;
    margin: 10px;
}

.list-group-item {
    border-bottom-left-radius: 0;
    border-bottom: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
}


.list-group-horizontal > .list-group-item:first-child {
    border-bottom-left-radius: 0;
}

.list-group-item.active {
    border-bottom: none;
    background-color: #e9ecef;
    border-bottom-left-radius: 0;
    border-color: rgba(0, 0, 0, 0.125);
}

.view-jumbotron {
    border-top-left-radius: 0;
}

.question-form {
    box-shadow: 0 0 10px 0px #bdbdbd;
    display:inline-block;
}
