.label-q {
    margin: 2px;
    padding: 5px;
    padding-left: 10px;
}

.label-q:hover {
    background-color: #5488af;
    color: aliceblue;
}

.label-delete {
    visibility: hidden;
    padding: 0 10px;
    margin-left: auto;
    margin-right: 1%;
}

.label-q:hover .label-delete {
    visibility: visible;
}

.student-question {
    display:flex;
    box-shadow: 0 0 10px 0px #bdbdbd;
    padding: 10px;
    margin-bottom: 10px;
    background-color:ghostwhite;
    align-items: center;
}

.student-question__name {
    padding-left: 5px;
}
